@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #090e0e;
  height: 100%;
  overflow-x: hidden;
  user-select: none;
}
/* Fonts */
.manrope {
  font-family: "Manrope", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

/* Styles */
.languagesModal {
  background: linear-gradient(
    180deg,
    rgba(111, 228, 198, 0.08) 0%,
    rgba(0, 0, 0, 0.55) 86.42%
  );
}
.backlight {
  width: 431px;
  height: 305px;
  border-radius: 431px;
  background: #147073;
  filter: blur(200px);
}
.minBacklight {
  border-radius: 431px;
  background: #147073;
  filter: blur(200px);
  width: 431px;
  height: 305px;
}
.textGradient {
  background: linear-gradient(
    90deg,
    #6fe4c6 0.82%,
    #0eb78c 51.98%,
    #20829a 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.statisticBacklight {
  width: 638px;
  height: 133px;
  background-color: #0eb78c;
  opacity: 0.699999988079071;
  filter: blur(109.5px);
}
.refBox {
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(111, 228, 198, 0.4) 0%,
    rgba(111, 228, 198, 0) 86.42%
  );
}
.gradientLineBg {
  background: linear-gradient(to right, #6fe4c6 0%, rgba(14, 183, 140, 0) 100%);
}
.underlinedLink {
  position: relative;
  text-decoration: none;
}

.underlinedLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: white;
}
